.profile-card {
  width: 300px;
  height: 265px;
  background-image: url('https://assets.ccbp.in/frontend/react-js/profile-bg.png');
  color: #000000;
  background-size: cover;
  font-family: 'Roboto';
  padding: 20px;
}
.profile-name {
  color: #4f46e5;
}
.profile-bio {
  color: #2c364c;
}
